* {
	font-family: JetBrains Mono Nerd;
	font-weight: bold;
}

window#waybar {
	background: transparent;
	background-color: #3b4252;
    	padding: 0;
    	margin: 0;
}
#workspaces button {
	color: #eceff4;
	padding: 0;
}
#workspaces button:hover {
	background: transparent;
    	box-shadow: inherit;
	text-shadow: inherit;
	padding: 1;
	border: transparent;
  	transition: none; 
}
label.module, box.module{
	background-color: #4c566a;
    	margin: 2px 2px 2px 2px;
	color: #ffffff;
	padding: 0px 10px 0px 10px;
	border-radius: 10px;
}
label.module:hover, box.module:hover{
	background-color: #d8dee9; 
	color: #2e3440;
}
#custom-shutdown {
    	padding: 0 13px 0 10px;
}
#custom-sleep {
    	padding: 0 12px 0 11px;
}
#custom-lock {
    	padding: 0 13px 0 10px;
}
#custom-logout {
    	padding: 0 11px 0 10px
}

