* {
	font-family: JetBrains Mono Nerd;
	font-weight: bold;
}

window#waybar {
	background: transparent;
	background-color: rgba(40,40,40,0.9);
    	padding: 0;
    	margin: 0;
}
#workspaces button {
	color: #ebdbb2;
	padding: 0;
}
#workspaces button:hover {
	background: transparent;
    	box-shadow: inherit;
	text-shadow: inherit;
	padding: 1;
	border: transparent;
  	transition: none; 
}
label.module, box.module{
    	margin: 0 2px 2px 2px;
	color: #ebdbb2;
	padding: 0 10px 0 10px;
	border-radius: 10px;
}
label.module:hover, box.module:hover{
	background-color: rgba(50,50,50,1);
}
#custom-shutdown {
    	background-color: #cc241d;
    	padding: 0 13px 0 10px;
}
#custom-sleep {
    	background-color: #458588;
    	padding: 0 12px 0 11px;
}
#custom-lock {
    	background-color: #d79921;
    	padding: 0 13px 0 10px;
}
#custom-logout {
    	background-color: #98971a;
    	padding: 0 11px 0 10px
}
#custom-screen-brightness {
    	background-color: #d79921;
}
#custom-speaker-volume {
    	background-color: #cc241d;
}
#custom-battery {
    	background-color: #98971a;
}
#network {
    	background-color: #458588;
}
#memory {
    	background-color: #689d6a;
}
#cpu {
    	background-color: #b16286;
}
